---
import BgGrid from "@/components/assets/BgGrid.astro";
---

<section class="border-white/20 border-b divide-y divide-white/20">
  <div class="p-8 relative">
    <BgGrid />
    <p
      class="text-white font-black uppercase tracking-tight lg:text-7xl text-xl"
    >
      We build modern, lightning-fast websites that help your business grow online.
    </p>
  </div>
  <div class="p-8">
    <p class="text-white font-black uppercase lg:text-3xl">
      From one-time custom builds to ongoing maintenance and support, we're your 
      partner in creating and maintaining a powerful web presence. No hidden fees, 
      no complexity—just quality websites that work.
    </p>
  </div>
</section>
