<div class="border-white/20 border-b justify-center w-full">
  <div
    class="text-center items-center w-full flex flex-col justify-between md:p-8 md:flex-row"
  >
    <a
      href="/"
      class="text-white font-black uppercase tracking-tight p-4 md:p-0"
      ><span>Self Labs</span>
    </a>
    <a
      href="#services"
      class="w-full bg-white duration-200 font-black hover:bg-black hover:text-white lg:ml-auto lg:w-fit px-6 py-4 sm:rounded-full text-black text-center text-xs uppercase"
      >Our Services</a
    ><a
      href="/blog"
      class="w-full bg-white/10 duration-200 font-black hover:bg-white hover:text-black text-white lg:w-fit px-6 py-4 sm:rounded-full text-center text-xs uppercase"
      >Blog</a
    ><a
      href="/monroe-web-design"
      class="w-full bg-white/10 duration-200 font-black hover:bg-white hover:text-black text-white lg:w-fit px-6 py-4 sm:rounded-full text-center text-xs uppercase"
      >Monroe</a
    ><a
      href="/pricing"
      class="w-full bg-white/10 duration-200 font-black hover:bg-white hover:text-black text-white lg:w-fit px-6 py-4 sm:rounded-full text-center text-xs uppercase"
      >Pricing</a
    ><a
      href="/athens-ga-web-design"
      class="w-full bg-white/10 duration-200 font-black hover:bg-white hover:text-black text-white lg:w-fit px-6 py-4 sm:rounded-full text-center text-xs uppercase"
      >Athens</a
    ><button
      data-open-contact
      class="w-full bg-orange duration-200 font-black hover:bg-black text-white lg:w-fit px-6 py-4 sm:rounded-full hover:text-white text-center text-xs uppercase"
      >Get in Touch</button
    >
  </div>
</div>
